In [ ]:
!pip install python-dotenv pandas numpy openpyxl sqlalchemy

In [1]:
import os
from dotenv import load_dotenv

load_dotenv()

DB_HOST = os.getenv("SANDHYA_ERP_DB_HOST")
DB_PORT = os.getenv("SANDHYA_ERP_DB_PORT")

DB_USERNAME = os.getenv("SANDHYA_ERP_DB_USERNAME")
DB_PASSWORD = os.getenv("SANDHYA_ERP_DB_PASSWORD")
DB_NAME = os.getenv("SANDHYA_ERP_DB_NAME")

sandhya_erp_db_url = (
    f"mysql+pymysql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [2]:
import pandas as pd
import sqlalchemy

# show all rows and columns
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [3]:
engine = sqlalchemy.create_engine(sandhya_erp_db_url)

In [4]:
supplier_df = pd.read_sql("SELECT * FROM erpx_dev.suppliers", engine)
supplier_df.head()

,supplier_id,code,name,supplier_category,gst_number,broker_id,contact_person,street,apartment,city,state,district,postal_code,commission,bank_acc_no,bank_ifsc,bank_name,bank_branch,contact_number,email_id,is_active,created_at,created_user,updated_at,updated_user,version_flag,payment_period
0,1,A1,Karuna Raju,Agent,None,0,Gopi Raju,None,None,None,ap,Ongole,123456,2.0,None,None,None,None,None,None,1,2023-01-20 17:18:17.358860,None,2023-01-23 15:24:21.920682,None,1,None
1,2,A2,Sri Lakshmi Aqua Farms,Agent,None,0,K Vijay,None,None,None,ap,bhVEM,123456,2.0,None,None,None,None,None,None,1,2023-01-21 15:59:41.769207,None,2023-01-23 15:24:27.197321,None,1,None
2,3,A3,Sri Venkateswara Traders,Agent,None,0,SVT,None,None,None,ap,bhVEM,123456,2.0,None,None,None,None,None,None,1,2023-01-21 16:19:28.500526,None,2023-01-23 15:24:30.204286,None,1,None
3,4,A4,Varalakshmi Agencies,Agent,None,0,Rakesh,None,None,None,ap,KK,123456,1.0,None,None,None,None,None,None,1,2023-01-23 14:39:43.386196,None,2023-01-23 15:24:34.793301,None,1,None
4,7,A5,Sri Lakshmi Aqua Farms,Agent,None,0,Rakesh,None,None,None,AP,KK,123456,1.0,None,None,None,None,None,None,0,2023-01-23 17:33:11.528853,None,2023-01-24 19:23:35.251509,None,2,None

In [5]:
supplier_df.describe().T

,count,mean,min,25%,50%,75%,max,std
supplier_id,572.0,288.486014,1.0,145.75,288.5,431.25,574.0,165.29061
broker_id,572.0,0.215035,0.0,0.0,0.0,0.0,123.0,5.142888
commission,567.0,920.155203,1.0,1.0,1.0,1.0,521157.0,21886.494395
is_active,572.0,0.977273,0.0,1.0,1.0,1.0,1.0,0.149163
created_at,572,2023-08-27 04:53:19.229318400,2023-01-20 17:18:17.358860,2023-02-25 11:28:33.746909440,2023-06-01 14:03:45.611426048,2023-11-17 12:35:04.927335936,2025-08-12 12:22:13.410409,NaN
updated_at,572,2023-09-01 05:44:39.985777152,2023-01-23 15:24:21.920682,2023-02-25 15:49:37.842742528,2023-06-03 04:25:53.728720384,2023-11-28 12:55:13.254458880,2025-08-12 12:22:13.410409,NaN
version_flag,572.0,1.083916,1.0,1.0,1.0,1.0,4.0,0.307444

No significant numerical data in erpx_dev.suppliers table

In [6]:
# supplier with max commission

supplier_df[supplier_df["commission"] == supplier_df["commission"].max()]

,supplier_id,code,name,supplier_category,gst_number,broker_id,contact_person,street,apartment,city,state,district,postal_code,commission,bank_acc_no,bank_ifsc,bank_name,bank_branch,contact_number,email_id,is_active,created_at,created_user,updated_at,updated_user,version_flag,payment_period
489,492,A481,SUMUKHA TRADERS,Agent,None,0,PARASA,None,None,None,AP,KRISHNA,None,521157.0,None,None,None,None,None,None,1,2024-07-08 17:07:10.619320,None,2024-07-08 17:07:10.619320,None,1,None

In [7]:
supplier_df.nunique()

supplier_id          572
code                 572
name                 556
supplier_category      3
gst_number             1
broker_id              2
contact_person        11
street                 1
apartment              0
city                   1
state                  5
district               7
postal_code            7
commission             3
bank_acc_no            0
bank_ifsc              0
bank_name              0
bank_branch            0
contact_number         1
email_id               0
is_active              2
created_at           572
created_user           0
updated_at           572
updated_user           0
version_flag           4
payment_period         0
dtype: int64

In [8]:
supplier_df["supplier_category"].value_counts()

supplier_category
Agent     561
Farmer     10
Broker      1
Name: count, dtype: int64

Among 572 suppliers, 561 are agents, which is almost all of the suppliers.

In [9]:
supplier_df[supplier_df["supplier_category"] == "Broker"]

,supplier_id,code,name,supplier_category,gst_number,broker_id,contact_person,street,apartment,city,state,district,postal_code,commission,bank_acc_no,bank_ifsc,bank_name,bank_branch,contact_number,email_id,is_active,created_at,created_user,updated_at,updated_user,version_flag,payment_period
120,123,B1,asdff,Broker,None,0,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,1,2023-02-21 16:24:21.113710,None,2023-02-21 16:24:21.113710,None,1,None

In [10]:
supplier_df[supplier_df["supplier_category"] == "Farmer"]

,supplier_id,code,name,supplier_category,gst_number,broker_id,contact_person,street,apartment,city,state,district,postal_code,commission,bank_acc_no,bank_ifsc,bank_name,bank_branch,contact_number,email_id,is_active,created_at,created_user,updated_at,updated_user,version_flag,payment_period
5,8,F1,K Sriu,Farmer,None,0,Rakesh,None,None,None,AP,KK,123456,1.0,None,None,None,None,None,None,1,2023-01-24 11:08:26.341499,None,2023-01-24 11:08:26.341499,None,1,None
6,9,F2,srinivasarao k,Farmer,None,0,sravani,None,None,None,AP,Krishna,521157,NaN,None,None,None,None,None,None,1,2023-01-24 11:36:09.012417,None,2023-01-24 19:29:02.666640,None,1,None
21,24,F3,rahul,Farmer,GST33654789,0,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,1,2023-01-24 19:38:08.526412,None,2023-01-24 19:38:08.526412,None,1,None
83,86,F4,madhav,Farmer,None,123,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,1,2023-02-08 18:23:33.541614,None,2023-02-21 16:24:21.000000,None,2,None
234,237,A230,SANDHYA AQUA FARMS KRITHIVENNU OWN,Farmer,None,0,None,None,None,None,None,None,None,1.0,None,None,None,None,None,None,1,2023-04-21 10:41:13.773245,None,2023-08-29 17:01:45.000000,None,2,None
359,362,F5,V DURGA RAO,Farmer,None,0,SRAVANI,None,None,None,None,KRISHNA,521157,1.0,None,None,None,None,None,None,1,2023-08-01 10:20:03.658414,None,2023-08-01 10:20:03.658414,None,1,None
414,417,F6,SANDHYA AQUA EXPORTS PVT LTD FARM BEERAMGUNTA,Farmer,None,0,KAVITHA,None,None,None,AP,KRISHANA,521157,1.0,None,None,None,None,None,None,1,2023-10-21 14:12:00.607933,None,2023-10-21 14:12:00.607933,None,1,None
437,440,F7,SANDHYA AQUA SRI FARMS,Farmer,None,0,KAVITHA,None,None,None,AP,KRISHNA,521157,1.0,None,None,None,None,None,None,1,2023-12-12 11:09:54.815987,None,2023-12-12 11:09:54.815987,None,1,None
487,490,F8,GUDURU OWN PONDS,Farmer,None,0,PARASA,None,None,None,AP,KRISHNA,521157,1.0,None,None,None,None,None,None,1,2024-06-27 12:43:06.874291,None,2024-06-27 12:43:06.874291,None,1,None
561,564,F9,x,Farmer,None,0,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,1,2025-06-18 13:06:43.879680,None,2025-06-18 13:06:43.879680,None,1,None

In [11]:
indent_df = pd.read_sql("SELECT * FROM erpx_dev_rm_procurement.indent", engine)
indent_df.head()

,is_active,created_at,created_user,updated_at,updated_user,version_flag,indent_id,indent_code,indent_date,supplier_type,commission_type,commission,harvesting_date,harvesting_time,assign_lead_1,assign_lead_2,vehicle_assigned,grn_completed,plant_id,indent_by,is_vehicle_required,harvest_type
0,1,2023-01-20 18:36:47.331519,unitone,2023-01-23 15:43:48,unitone,6,3,I24/A20/0001,2023-01-20 13:05:15,Agent,Percentage,0,2023-01-21 13:05:15,Morning,1809,NaN,0,1,1,2178,0,Re Weighment
1,1,2023-01-20 18:48:41.656502,unitone,2023-01-20 18:49:11,unitone,3,4,I24/A20/0002,2023-01-20 13:18:12,Agent,Percentage,0,2023-01-21 13:18:12,Morning,1809,NaN,0,1,2,1810,0,Re Weighment
2,1,2023-01-21 16:02:02.897476,superadmin,2023-01-21 16:09:08,superadmin,5,5,I24/A21/0003,2023-01-21 10:29:58,Agent,Percentage,0,2023-01-22 10:29:58,Morning,1809,NaN,0,1,2,2178,0,Live Harvest
3,1,2023-01-21 16:21:02.870258,superadmin,2023-01-23 10:30:51,superadmin,5,6,I24/A21/0004,2023-01-21 10:49:33,Agent,Percentage,0,2023-01-22 10:49:33,Morning,1809,NaN,0,1,1,2178,0,Re Weighment
4,1,2023-01-23 14:42:02.614058,unittwo,2023-01-23 14:48:31,unittwo,6,7,I24/A23/0005,2023-01-23 09:09:50,Agent,Percentage,0,2023-01-24 09:09:50,Morning,1809,NaN,0,1,3,1809,0,Live Harvest

In [12]:
indent_items_df = pd.read_sql(
    "SELECT * FROM erpx_dev_rm_procurement.indent_items", engine
)
indent_items_df.head()

,indent_item_id,broker,farmer,farmer_code,product,expected_count,expected_qty,expected_price,expected_count2,expected_price2,expected_count3,expected_price3,is_active,created_at,created_user,updated_at,updated_user,version_flag,indent_id,harvest_report_id
0,2,0,1,NaN,2,97,1500,237,100.0,225.0,None,None,1,2023-01-20 18:36:47.337082,Admin,2023-01-20 18:37:04,None,2,3,0
1,3,0,1,NaN,2,45,1000,350,NaN,NaN,None,None,1,2023-01-20 18:48:41.662178,Admin,2023-01-20 18:48:52,None,2,4,0
2,4,0,2,NaN,2,25,5000,300,NaN,NaN,None,None,1,2023-01-21 16:02:02.904148,Admin,2023-01-21 16:02:11,None,2,5,0
3,5,0,3,NaN,2,55,3500,275,57.0,270.0,None,None,1,2023-01-21 16:21:02.877064,Admin,2023-01-21 16:21:33,None,2,6,0
4,6,0,4,NaN,2,70,2500,290,75.0,286.0,None,None,1,2023-01-23 14:42:02.627996,Admin,2023-01-23 14:42:18,None,2,7,0

In [13]:
indent_items_df.describe().T

,count,mean,min,25%,50%,75%,max,std
indent_item_id,14639.0,7321.0,2.0,3661.5,7321.0,10980.5,14640.0,4226.05963
broker,14639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
farmer,14639.0,178.764943,1.0,39.0,133.0,284.0,574.0,159.056061
farmer_code,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
product,14639.0,1.952183,1.0,2.0,2.0,2.0,3.0,0.214026
expected_count,14639.0,57.208757,1.0,35.0,55.0,75.0,1800.0,30.719453
expected_qty,14639.0,2839.682355,10.0,1100.0,2000.0,3700.0,36000.0,2557.56086
expected_price,14639.0,316.733042,0.0,265.0,300.0,350.0,8000.0,112.566047
expected_count2,12.0,152.083333,34.0,52.75,105.0,235.0,345.0,117.089289
expected_price2,8.0,337.375,90.0,258.75,274.0,281.5,1000.0,275.533217
is_active,14639.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
created_at,14639,2023-11-23 18:02:02.982646784,2023-01-20 18:36:47.337082,2023-05-12 11:44:58.126791168,2023-08-29 16:03:13.943058944,2024-05-03 14:49:15.951385600,2025-08-21 14:28:23.077028,NaN
updated_at,14639,2023-11-24 15:38:29.266195712,2023-01-20 18:37:04,2023-05-12 12:04:12.205904896,2023-08-29 17:22:19,2024-05-04 12:44:05.683901440,2025-08-21 14:28:23.077028,NaN
version_flag,14639.0,1.546554,1.0,1.0,1.0,2.0,13.0,0.689052
indent_id,14639.0,4113.736457,3.0,2067.5,4216.0,6148.0,8202.0,2362.41001
harvest_report_id,14639.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
indent_items_df.nunique()

indent_item_id       14639
broker                   1
farmer                 551
farmer_code              1
product                  3
expected_count         115
expected_qty           187
expected_price         173
expected_count2         11
expected_price2          7
expected_count3          0
expected_price3          0
is_active                1
created_at           14639
created_user             1
updated_at           11613
updated_user             0
version_flag            10
indent_id             8200
harvest_report_id        1
dtype: int64

In [15]:
grn_df = pd.read_sql("SELECT * FROM erpx_dev_rm_procurement.grn", engine)
grn_df.head()

,grn_id,grn_date,grn_number,supplier_type,is_active,created_at,created_user,updated_at,updated_user,version_flag,indent_no,plant_id,sub_plant_id
0,10,2023-01-20 18:42:08,G24/KRN/null/0001,Agent,1,2023-01-20 18:43:15.625959,unitone,2023-01-23 12:11:13.000000,unitone,4,3,2,6.0
1,11,2023-01-20 18:48:55,G24/KRN/null/0002,Agent,1,2023-01-20 18:49:11.632700,unitone,2023-03-30 14:26:57.151334,None,1,4,0,NaN
2,12,2023-01-20 18:54:14,G24/KRN/null/0003,Agent,1,2023-01-20 18:54:36.696090,unitone,2023-01-23 15:43:48.000000,admin,2,3,1,NaN
3,13,2023-01-21 16:02:15,G24/123/null/0004,Agent,1,2023-01-21 16:06:28.127043,superadmin,2023-01-21 16:09:34.000000,superadmin,4,5,2,4.0
4,14,2023-01-21 16:21:36,G24/SVT/null/0005,Agent,1,2023-01-21 16:23:02.922709,superadmin,2023-01-23 10:30:51.000000,admin,4,6,1,8.0

In [16]:
grn_items_df = pd.read_sql("SELECT * FROM erpx_dev_rm_procurement.grn_items", engine)
grn_items_df.head()

,grn_item_id,grn_id,indent_id,lot_number,sale_order_id,sale_order_item_id,farmer,farmer_code,quantity,count,price,received_boxes,soft_percentage,boxes,is_active,assign_to_rm,created_at,created_user,updated_at,updated_user,version_flag,indent_item_id,product,broker,vi_inspection,rm_inspection,antibiotic_test,actual_quantity,actual_count,loose_shell,fungus_percentage,ice_boxes,empty_boxes,rm_boxes,seal_no,remarks,plant_lot_number,ref_no
0,1,10,3,LOT-U1/24/1/0001,NaN,NaN,1,NaN,1000,55,50000.0,120.0,2.0,120,1,1,2023-01-20 18:43:15.631362,unitone,2023-01-23 12:11:18,unitone,3,2,2,0,0,0,0,None,None,3,1.0,NaN,NaN,NaN,None,None,None,NaN
1,2,11,4,LOT-U1/24/1/0049,NaN,NaN,1,NaN,1000,50,NaN,0.0,NaN,150,1,1,2023-01-20 18:49:11.637446,unitone,2023-01-25 12:04:13,None,2,3,2,0,0,0,0,None,None,None,NaN,NaN,NaN,NaN,None,None,None,NaN
2,3,12,3,None,NaN,NaN,1,NaN,1490,97,5200.0,48.0,0.0,48,1,0,2023-01-20 18:54:36.702904,unitone,2023-01-23 15:43:48,admin,2,2,2,0,0,0,0,None,None,0,0.0,NaN,NaN,NaN,None,None,None,NaN
3,4,13,5,LOT-U1/24/2/0416,NaN,NaN,2,NaN,2606,31,290.0,87.0,0.0,87,1,1,2023-01-21 16:06:28.135154,superadmin,2023-02-08 15:42:25,superadmin,4,4,4,0,0,0,0,None,None,0,0.0,NaN,NaN,NaN,None,None,None,NaN
4,5,14,6,LOT-KKD/24/1/0002,NaN,NaN,3,NaN,3264,57,270.0,116.0,0.0,116,1,1,2023-01-21 16:23:02.927747,superadmin,2023-01-23 12:24:27,admin,4,5,5,0,0,0,0,None,None,0,0.0,NaN,NaN,NaN,None,None,None,NaN

In [17]:
grn_items_df.describe().T

,count,mean,min,25%,50%,75%,max,std
grn_item_id,14564.0,7427.173647,1.0,3799.75,7440.5,11081.25,14722.0,4225.631215
grn_id,14564.0,4269.286116,10.0,2242.75,4386.5,6313.25,8354.0,2375.936839
indent_id,14564.0,4111.924746,3.0,2057.75,4200.5,6159.25,8202.0,2368.398727
sale_order_id,12570.0,2965.171997,220.0,1927.0,2558.0,3948.0,6394.0,1387.036262
sale_order_item_id,12570.0,10932.033413,358.0,8397.0,10295.0,14045.0,17956.0,3772.108139
farmer,14564.0,178.641994,1.0,39.0,133.0,284.0,574.0,159.153956
farmer_code,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
quantity,14564.0,2822.714227,4.0,1149.0,2138.0,3668.0,31870.0,2538.579961
count,14564.0,60.093244,5.0,40.0,54.0,72.0,4850.0,48.74078
price,269.0,517.925651,103.0,278.0,312.0,350.0,50000.0,3044.748637
received_boxes,13782.0,94.80997,0.0,40.0,73.0,124.0,6069.0,96.870885
soft_percentage,12075.0,0.026335,0.0,0.0,0.0,0.0,132.0,1.333977
boxes,14564.0,93.192461,1.0,39.0,72.0,122.0,867.0,80.158567
is_active,14564.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
assign_to_rm,14564.0,0.995468,0.0,1.0,1.0,1.0,1.0,0.067168
created_at,14564,2023-11-24 18:57:33.053271552,2023-01-20 18:43:15.631362,2023-05-11 18:18:50.947343360,2023-08-26 17:09:31.069774336,2024-05-06 13:05:14.412138496,2025-08-21 14:36:54.083409,NaN
updated_at,14564,2025-02-15 08:55:02.211108352,2023-01-23 12:11:18,2025-05-09 09:22:22.411624960,2025-05-09 09:22:22.411624960,2025-05-09 09:22:22.411624960,2025-08-21 14:37:42,NaN
version_flag,14564.0,4.085279,1.0,3.0,4.0,5.0,17.0,1.850709
indent_item_id,14564.0,7285.468415,1.0,3644.75,7290.5,10999.25,14640.0,4288.145354
product,14564.0,6797.585553,1.0,2976.75,7004.5,10840.25,14640.0,4624.310907
broker,14564.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
vi_inspection,14564.0,0.000206,0.0,0.0,0.0,0.0,1.0,0.014351
rm_inspection,14564.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
antibiotic_test,14564.0,0.000069,0.0,0.0,0.0,0.0,1.0,0.008286
fungus_percentage,12075.0,0.011097,0.0,0.0,0.0,0.0,71.0,0.762207
ice_boxes,66.0,5.560606,0.0,0.0,0.0,10.0,30.0,8.62934
empty_boxes,66.0,19.939394,0.0,0.0,10.0,23.0,130.0,30.720516
rm_boxes,66.0,98.5,7.0,60.25,84.0,108.5,396.0,75.675674
ref_no,12527.0,1260.550491,1.0,443.0,947.0,1952.0,4141.0,1019.157127

In [18]:
grn_items_df["plant_lot_number"].nunique()

12959

In [19]:
grn_items_df.nunique()

grn_item_id           14564
grn_id                 8169
indent_id              8165
lot_number            13466
sale_order_id           693
sale_order_item_id      801
farmer                  551
farmer_code               1
quantity               5967
count                   175
price                   101
received_boxes          484
soft_percentage          12
boxes                   483
is_active                 1
assign_to_rm              2
created_at            14564
created_user             23
updated_at             2352
updated_user             21
version_flag             17
indent_item_id        14074
product               12072
broker                    1
vi_inspection             2
rm_inspection             1
antibiotic_test           2
actual_quantity           0
actual_count              0
loose_shell              20
fungus_percentage         6
ice_boxes                15
empty_boxes              25
rm_boxes                 52
seal_no                  38
remarks               12031
plant_lot_number      12959
ref_no                 3356
dtype: int64

In [20]:
query = """
    SELECT

    -- Farmer Information
    ii.farmer,
    s.name AS farmer_name,

    -- Time to GRN
    AVG(TIMESTAMPDIFF(HOUR, i.indent_date, g.grn_date)) AS avg_time_to_grn,

    -- Average Expected (Planned) Values from Indent
    SUM(ii.expected_qty) AS total_expected_qty,                                 -- SUMMING ALL EXPECTED QUANITTY FROM FARMER RATHER TO AVERAGING
    AVG(ii.expected_price) AS avg_expected_price,
    -- AVG(ii.expected_count) AS avg_expected_count, 

    -- Average Actual Received Values from GRN
    SUM(gi.quantity) AS total_actual_quantity,                           -- SUMMING ALL ACTUAL QUANITTY FROM FARMER RATHER TO AVERAGING   
    AVG(gi.price) AS avg_actual_price,
    -- AVG(gi.actual_count) AS avg_actual_count,
    AVG(gi.received_boxes) AS avg_received_boxes,

    -- Key Quality & Performance Metrics
    AVG(ABS(gi.quantity - ii.expected_qty)) AS avg_quantity_variance,
    AVG(gi.price - ii.expected_price) AS avg_price_variance,
    AVG(ABS(gi.count - ii.expected_count)) AS avg_expected_count_variance,
    

    -- Identifiers for Traceability
    GROUP_CONCAT(DISTINCT i.indent_id) AS indent_ids,
    GROUP_CONCAT(DISTINCT ii.indent_item_id) AS indent_item_ids,
    GROUP_CONCAT(DISTINCT g.grn_id) AS grn_ids,
    GROUP_CONCAT(DISTINCT gi.grn_item_id) AS grn_item_ids,
    
    COUNT(DISTINCT i.indent_id) AS indent_count,
    COUNT(DISTINCT g.grn_id) AS grn_count,
    COUNT(DISTINCT gi.indent_item_id) AS indent_item_count,
    COUNT(DISTINCT gi.grn_item_id) AS grn_item_count,

    COUNT(DISTINCT gi.plant_lot_number) AS lots_supplied

FROM
    erpx_dev_rm_procurement.indent_items AS ii
JOIN
    erpx_dev_rm_procurement.indent AS i ON ii.indent_id = i.indent_id
LEFT JOIN
    erpx_dev_rm_procurement.grn AS g ON g.indent_no = i.indent_id
LEFT JOIN 
    erpx_dev_rm_procurement.grn_items AS gi ON gi.grn_id = g.grn_id
LEFT JOIN
    erpx_dev.suppliers AS s ON s.supplier_id = ii.farmer
GROUP BY
    ii.farmer
ORDER BY
    ii.farmer;
"""

test_df = pd.read_sql(query, engine)
test_df.head()

,farmer,farmer_name,avg_time_to_grn,total_expected_qty,avg_expected_price,total_actual_quantity,avg_actual_price,avg_received_boxes,avg_quantity_variance,avg_price_variance,avg_expected_count_variance,indent_ids,indent_item_ids,grn_ids,grn_item_ids,indent_count,grn_count,indent_item_count,grn_item_count,lots_supplied
0,1,Karuna Raju,302.8000,21347.0,301.4000,23530.0,27600.0000,84.5556,421.3000,27363.0000,7.3000,"3,4,9,56,57,1399,2671,4637,7297","2,3,10,98,99,2459,4772,8274,13100","10,11,12,17,1119,1243,1467,2841,4786,7447","1,2,3,10,1821,2025,2420,4908,8345,13178",9,10,9,10,5
1,2,Sri Lakshmi Aqua Farms,33.7000,43700.0,293.8000,35934.0,278.0000,122.0000,1389.8000,-3.6000,4.5000,"5,10,1603,7529","4,11,12,2832,2833,13486","13,18,1788,7679","4,11,12,2987,2988,13564",4,4,6,6,3
2,3,Sri Venkateswara Traders,5.0000,3500.0,275.0000,3264.0,270.0000,116.0000,236.0000,-5.0000,2.0000,6,5,14,5,1,1,1,1,0
3,4,Varalakshmi Agencies,128.7684,367500.0,319.5526,336530.0,312.5839,69.5122,852.7263,5.7591,9.6895,"7,8,15,17,51,53,58,84,97,113,128,141,154,181,2...","6,7,8,9,20,21,22,23,24,26,27,88,89,90,92,93,94...","15,16,23,25,78,80,83,113,127,143,158,170,184,2...","6,7,8,9,20,21,22,23,24,26,27,74,75,76,77,79,80...",16,16,52,52,2
4,8,K Sriu,3.3333,10500.0,286.6667,10072.0,287.5000,60.8000,343.6667,7.5000,5.3333,"11,7572,7911","13,14,13561,14169","19,7722,8063","13,14,13638,14251",3,3,4,4,2

In [21]:
test_df.describe().T

,count,mean,std,min,25%,50%,75%,max
farmer,551.0,291.119782,165.036096,1.0000,152.500000,294.0000,433.000000,5.740000e+02
avg_time_to_grn,551.0,99.121575,378.688176,3.3333,54.365150,70.8868,91.973250,8.832000e+03
total_expected_qty,551.0,143334.462795,401387.713802,140.0000,7100.000000,23000.0000,86240.000000,3.418625e+06
avg_expected_price,551.0,329.605781,77.059775,0.0000,284.475000,314.0000,359.056600,9.000000e+02
total_actual_quantity,551.0,141723.716878,400490.202795,118.0000,6892.000000,22867.0000,79593.000000,3.475924e+06
avg_actual_price,61.0,761.697493,3493.980183,205.0000,285.000000,305.3333,342.000000,2.760000e+04
avg_received_boxes,532.0,89.417331,63.014067,3.0000,52.865475,75.0000,104.216825,4.920000e+02
avg_quantity_variance,551.0,539.973850,482.347060,0.0000,191.833300,427.7500,765.346150,3.708111e+03
avg_price_variance,61.0,455.398266,3502.654997,-39.0000,-1.000000,5.0000,10.000000,2.736300e+04
avg_expected_count_variance,551.0,10.187644,36.740285,0.0000,5.000000,7.1552,10.921850,8.575000e+02
indent_count,551.0,14.940109,41.284050,1.0000,1.000000,3.0000,9.000000,4.730000e+02
grn_count,551.0,14.883848,41.185668,1.0000,1.000000,3.0000,9.000000,4.730000e+02
indent_item_count,551.0,26.056261,66.625947,1.0000,2.000000,5.0000,16.500000,5.820000e+02
grn_item_count,551.0,26.584392,67.992938,1.0000,2.000000,5.0000,16.500000,5.920000e+02
lots_supplied,551.0,23.691470,61.895712,0.0000,1.500000,4.0000,15.000000,5.430000e+02

In [22]:
# Drop avg_actual_price and avg_price_variance due to low volume of data
dataset = test_df.drop(
    columns=[
        "avg_actual_price",
        "avg_price_variance",
        "grn_ids",
        "grn_item_ids",
        "indent_item_ids",
        "indent_ids",
        "lots_supplied",
    ]
)

In [23]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
farmer,551.0,291.119782,165.036096,1.0000,152.500000,294.0000,433.000000,5.740000e+02
avg_time_to_grn,551.0,99.121575,378.688176,3.3333,54.365150,70.8868,91.973250,8.832000e+03
total_expected_qty,551.0,143334.462795,401387.713802,140.0000,7100.000000,23000.0000,86240.000000,3.418625e+06
avg_expected_price,551.0,329.605781,77.059775,0.0000,284.475000,314.0000,359.056600,9.000000e+02
total_actual_quantity,551.0,141723.716878,400490.202795,118.0000,6892.000000,22867.0000,79593.000000,3.475924e+06
avg_received_boxes,532.0,89.417331,63.014067,3.0000,52.865475,75.0000,104.216825,4.920000e+02
avg_quantity_variance,551.0,539.973850,482.347060,0.0000,191.833300,427.7500,765.346150,3.708111e+03
avg_expected_count_variance,551.0,10.187644,36.740285,0.0000,5.000000,7.1552,10.921850,8.575000e+02
indent_count,551.0,14.940109,41.284050,1.0000,1.000000,3.0000,9.000000,4.730000e+02
grn_count,551.0,14.883848,41.185668,1.0000,1.000000,3.0000,9.000000,4.730000e+02
indent_item_count,551.0,26.056261,66.625947,1.0000,2.000000,5.0000,16.500000,5.820000e+02
grn_item_count,551.0,26.584392,67.992938,1.0000,2.000000,5.0000,16.500000,5.920000e+02

Performing TOPSIS method to rank the farmer performance
1. Normalize the data
2. Calculate the weighted normalized decision matrix
3. Calculate the separation measures
4. Calculate the relative closeness to the ideal solution
5. Rank the farmers based on the relative closeness to the ideal solution

In [24]:
# Normalizing the data and normalizing if we have weights
def normalize_data(dataset, nCol, weights=None):
    for i in range(1, nCol):
        temp = 0

        for j in range(len(dataset)):
            temp += dataset.iloc[j, i] ** 2
        temp = temp**0.5

        for j in range(len(dataset)):
            if weights is not None:
                dataset.iloc[j, i] = (dataset.iloc[j, i] / temp) * weights[i - 1]
            else:
                dataset.iloc[j, i] = dataset.iloc[j, i] / temp

    return dataset


def calculate_ideal_values(dataset, nCol, impact):
    ideal_best = []
    ideal_worst = []

    for i in range(1, nCol):
        if impact[i - 1] == "+":
            ideal_best.append(dataset.iloc[:, i].max())
            ideal_worst.append(dataset.iloc[:, i].min())
        else:
            ideal_best.append(dataset.iloc[:, i].min())
            ideal_worst.append(dataset.iloc[:, i].max())

    return ideal_best, ideal_worst


def calculate_separation_measures(dataset, ideal_best, ideal_worst, nCol):
    separation_best = []
    separation_worst = []

    for i in range(len(dataset)):
        best = 0
        worst = 0

        for j in range(1, nCol):
            best += (dataset.iloc[i, j] - ideal_best[j - 1]) ** 2
            worst += (dataset.iloc[i, j] - ideal_worst[j - 1]) ** 2

        separation_best.append(best**0.5)
        separation_worst.append(worst**0.5)

    return separation_best, separation_worst


def calculate_relative_closeness(separation_best, separation_worst):
    relative_closeness = []

    for i in range(len(separation_best)):
        if separation_best[i] + separation_worst[i] == 0:
            relative_closeness.append(0)
        else:
            relative_closeness.append(
                separation_worst[i] / (separation_best[i] + separation_worst[i])
            )

    return relative_closeness


def rank_farmers(dataset, nCol, impact, weights=None):
    normalized_data = normalize_data(dataset.copy(), nCol, weights)
    ideal_best, ideal_worst = calculate_ideal_values(normalized_data, nCol, impact)
    separation_best, separation_worst = calculate_separation_measures(
        normalized_data, ideal_best, ideal_worst, nCol
    )
    relative_closeness = calculate_relative_closeness(separation_best, separation_worst)
    normalized_data["relative_closeness"] = relative_closeness
    normalized_data["rank"] = normalized_data["relative_closeness"].rank(
        ascending=False
    )

    return normalized_data.sort_values(by="rank")


numeric_columns_impact_mapper = {
    "avg_time_to_grn": "-",
    "total_expected_qty": "+",
    "avg_expected_price": "-",
    "total_actual_quantity": "+",
    "avg_received_boxes": "+",
    "avg_quantity_variance": "-",
    "avg_expected_count_variance": "-",
    "indent_count": "+",
    "grn_count": "+",
    "indent_item_count": "+",
    "grn_item_count": "+",
}

farmer_ids = dataset[["farmer", "farmer_name"]].copy()
numeric_dataset = dataset[
    ["farmer"] + list(numeric_columns_impact_mapper.keys())
].copy()

numeric_dataset = numeric_dataset.fillna(numeric_dataset.mean())

nCol = numeric_dataset.shape[1]

impact = list(numeric_columns_impact_mapper.values())  # Adjusted for 10 numeric columns

equal_weight_factor = 1 / (nCol - 1)  # Equal weight factor for normalization

weights = [equal_weight_factor] * (nCol - 1)

ranked_farmers = rank_farmers(numeric_dataset, nCol, impact, weights)

# Merge with original dataset to get all columns, then add ranking information
final_results = dataset.merge(
    ranked_farmers[["farmer", "relative_closeness", "rank"]], on="farmer", how="left"
)
final_results = final_results.sort_values(by="rank")
final_results.head()

/tmp/ipykernel_1686849/3964253782.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.000794541531191457' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.iloc[j, i] = (dataset.iloc[j, i] / temp) * weights[i-1]
/tmp/ipykernel_1686849/3964253782.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.0008850749635979672' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.iloc[j, i] = (dataset.iloc[j, i] / temp) * weights[i-1]
/tmp/ipykernel_1686849/3964253782.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.0004876051448425643' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.iloc[j, i] = (dataset.iloc[j, i] / temp) * weights[i-1]
/tmp/ipykernel_1686849/3964253782.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.0005309081680640789' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.iloc[j, i] = (dataset.iloc[j, i] / temp) * weights[i-1]

,farmer,farmer_name,avg_time_to_grn,total_expected_qty,avg_expected_price,total_actual_quantity,avg_received_boxes,avg_quantity_variance,avg_expected_count_variance,indent_count,grn_count,indent_item_count,grn_item_count,relative_closeness,rank
17,21,KS RAJU,74.3528,3391850.0,289.8090,3463088.0,133.9238,1169.1873,11.3017,473,473,563,576,0.910612,1.0
154,169,RAMALINGARAJU,200.7969,3106274.0,306.6151,3125085.0,97.1199,648.4749,8.5735,400,400,556,556,0.887891,2.0
15,19,SRINIVASARAO K,77.4832,3418625.0,312.4812,3475924.0,94.8579,1732.8690,17.1245,361,360,582,592,0.866155,3.0
14,18,K SRINU,107.8041,2036650.0,309.8884,1922421.0,77.6538,1399.0011,18.2130,239,239,386,406,0.760932,4.0
36,40,SRI RAMA AQUA,81.9508,2539562.0,310.8431,2517238.0,70.5150,678.9086,10.8840,178,177,341,343,0.742269,5.0

In [25]:
final_results.head(50)

,farmer,farmer_name,avg_time_to_grn,total_expected_qty,avg_expected_price,total_actual_quantity,avg_received_boxes,avg_quantity_variance,avg_expected_count_variance,indent_count,grn_count,indent_item_count,grn_item_count,relative_closeness,rank
17,21,KS RAJU,74.3528,3391850.0,289.8090,3463088.0,133.9238,1169.1873,11.3017,473,473,563,576,0.910612,1.0
154,169,RAMALINGARAJU,200.7969,3106274.0,306.6151,3125085.0,97.1199,648.4749,8.5735,400,400,556,556,0.887891,2.0
15,19,SRINIVASARAO K,77.4832,3418625.0,312.4812,3475924.0,94.8579,1732.8690,17.1245,361,360,582,592,0.866155,3.0
14,18,K SRINU,107.8041,2036650.0,309.8884,1922421.0,77.6538,1399.0011,18.2130,239,239,386,406,0.760932,4.0
36,40,SRI RAMA AQUA,81.9508,2539562.0,310.8431,2517238.0,70.5150,678.9086,10.8840,178,177,341,343,0.742269,5.0
388,407,SHREEYAN MARINE EXPORTS PVT LTD,53.4301,2701530.0,304.5837,2606042.0,71.5909,942.7154,18.1220,147,147,384,384,0.735012,6.0
49,53,NAGESH VARMA,80.6364,1872480.0,298.5796,1879254.0,113.7253,995.0241,10.1429,195,194,290,291,0.728088,7.0
265,284,MASTAN SKM,62.6291,2364360.0,249.4539,2345075.0,72.9059,1017.0801,16.1566,145,145,343,343,0.723638,8.0
35,39,CHANDRIKA SEAFOODS,71.1003,1634550.0,295.6354,1614700.0,66.1000,653.4505,9.8737,189,189,318,323,0.722895,9.0
73,77,PK RAMALINGA RAJU,77.2637,1676800.0,306.0101,1691949.0,121.7312,656.1481,8.1562,167,167,236,243,0.705749,10.0
66,70,B PANDURANGA,83.1048,1306300.0,291.9314,1331039.0,59.3339,495.9702,10.0595,147,147,287,302,0.694813,11.0
99,105,SYAMALA TRADERS,81.2544,1537950.0,311.4372,1544172.0,81.1152,968.8331,12.8935,139,139,235,249,0.689260,12.0
253,272,K RAGHU,105.5844,1930040.0,267.5717,1916697.0,65.5095,839.4196,19.7043,103,99,286,290,0.688502,13.0
220,237,SANDHYA AQUA FARMS KRITHIVENNU OWN,63.2885,1228548.0,267.6618,1281293.0,66.3475,752.0213,11.9492,134,132,253,255,0.682293,14.0
484,507,VELANKKANI TRADERS,48.2457,2246560.0,473.3061,2240857.0,86.2470,1018.2102,5.9501,77,77,244,244,0.680954,15.0
9,13,MEENAKSHI FISHEREIS,108.3900,1298760.0,287.0328,1249777.0,38.1610,455.8749,18.1041,112,111,284,305,0.678581,16.0
28,32,RAVINDRA ENTERPRISES,61.0184,910400.0,307.7217,902664.0,87.9969,447.9141,9.8160,136,135,180,184,0.665628,17.0
89,94,SKTC,84.2936,817500.0,311.7574,830863.0,113.1717,455.1532,7.3362,146,146,158,170,0.664957,18.0
78,82,SV AQUA,72.5674,911760.0,301.2744,895493.0,76.2097,536.9145,11.1632,127,124,195,196,0.663398,19.0
147,162,KVSN,76.3183,925300.0,304.2812,913922.0,97.3698,761.4405,9.7556,124,123,181,181,0.661370,20.0
44,48,PVR ENTERPRISES,98.4272,1075550.0,307.9713,1139074.0,36.4479,512.8268,9.0436,84,84,240,249,0.659717,21.0
31,35,SS TRADERS,71.3807,1172200.0,333.4114,1138962.0,75.1549,896.4103,10.4951,91,90,184,189,0.655820,22.0
250,268,ARUNODAYA AQUA,67.7689,759350.0,301.1639,759824.0,101.5504,380.5966,7.3824,117,117,149,149,0.652264,23.0
18,22,SKM SEAFOODS,125.8602,1287500.0,290.0020,1237652.0,81.0698,1287.5118,15.4272,74,74,171,176,0.648854,24.0
305,324,ANJANEYA AQUA,68.6568,698280.0,284.2691,683166.0,57.6840,507.9951,14.9235,89,89,155,155,0.640501,25.0
45,49,R KARUNA,90.9378,736300.0,288.7108,707573.0,47.3558,488.3635,20.5904,81,81,178,178,0.640402,26.0
72,76,SIVA SEAFOODS,82.7271,745850.0,331.6330,748891.0,55.3519,558.6583,11.1514,73,73,126,156,0.635145,27.0
6,10,Sita rama raju,77.9415,614300.0,303.6585,627653.0,100.2139,573.0488,9.4829,79,79,113,113,0.631993,28.0
390,409,SREEYAAN MARINE EXPORTS PVT LTD,58.3802,947530.0,279.6475,910947.0,62.9013,985.8911,20.5663,46,47,132,139,0.628787,29.0
309,328,NVVS VARMA,120.3828,678950.0,268.2014,676634.0,26.0883,323.6820,10.9364,48,44,169,169,0.628448,30.0
11,15,VENKATESWARA SEAFOODS,78.4536,717614.0,298.9290,716267.0,63.3562,729.1230,9.1038,54,54,102,118,0.625262,31.0
433,454,PV TRADELINKS,49.8689,535950.0,352.1117,502854.0,78.5049,685.2039,9.5146,72,72,96,96,0.625037,32.0
34,38,VENKANNA BABU Y,68.2727,389300.0,306.5766,374287.0,114.9417,469.7364,7.4000,69,68,81,81,0.620630,33.0
256,275,SRSF,78.7123,582760.0,332.8538,505113.0,77.3160,755.5142,7.7547,56,56,90,90,0.620063,34.0
155,170,M NAVEEN REDDY,60.8792,414200.0,306.1611,402934.0,87.1544,1049.9463,11.7315,58,58,85,85,0.616471,35.0
126,141,AQUA EXCHANGE,87.4361,589180.0,323.3801,612030.0,59.8589,1010.1246,12.1869,33,33,88,89,0.613000,36.0
129,144,P RAMALINGARAJU,85.5563,342100.0,316.9014,341063.0,80.2324,465.3310,7.2746,49,49,66,74,0.612183,37.0
176,191,SRK,68.0000,542020.0,331.7308,543928.0,113.5449,609.1538,7.4295,32,32,64,64,0.611568,38.0
193,208,P LAKSHMI NARAYANA VARMA,71.1786,394960.0,294.3112,393659.0,65.6276,768.1173,14.5306,41,41,82,82,0.610872,39.0
57,61,NAGAMALLESWARAO K,69.1624,323600.0,270.3504,329740.0,92.6505,854.4274,14.1966,46,46,67,69,0.609682,40.0
207,222,GANESH VARMA,76.6875,337000.0,294.1458,322333.0,107.3750,779.8021,11.1667,46,46,60,60,0.609512,41.0
537,560,LAVANYA SEA FOODS,48.9488,427800.0,313.0930,405002.0,64.6605,754.2605,12.7163,34,34,75,75,0.609128,42.0
201,216,NN SRINIVASARAO,120.4777,340400.0,322.7325,337430.0,67.8790,505.4904,8.4331,41,41,63,63,0.608184,43.0
431,452,NN TRADERS,54.4776,291940.0,296.1194,293411.0,138.5373,1001.5075,7.9552,43,43,51,51,0.607773,44.0
113,127,RAMBABU,56.4326,226050.0,431.3202,212504.0,45.0710,266.5955,4.1910,39,39,72,72,0.607391,45.0
401,420,ADITYA AQUA AGENCIES,57.4219,287400.0,278.5938,274157.0,133.8906,463.3281,9.4219,41,41,47,47,0.607375,46.0
468,490,GUDURU OWN PONDS,56.0876,323170.0,372.5498,312237.0,43.0438,423.5657,10.6454,33,33,77,77,0.607340,47.0
16,20,SAI LAKSHMI AUQA FARMS,99.0094,267100.0,302.8774,259966.0,76.8163,517.8491,9.2264,42,42,63,63,0.607319,48.0
22,26,SWAMY NAIDU K,110.7243,291300.0,286.1622,290371.0,63.2975,576.1135,15.9838,38,38,71,75,0.606521,49.0
39,43,VENKATESWARA SEAFOODS,84.1803,452650.0,340.6223,428172.0,60.2167,854.7639,14.3648,29,29,65,69,0.606227,50.0

In [30]:
# Save to Excel file
final_results.to_excel("farmer_performance_ranking.xlsx", index=False)